# Ensure overlay gets built
CONFIG_BUILD_ARM64_DT_OVERLAY=y

# WLAN
CONFIG_QCA_CLD_WLAN=y

# OTG
CONFIG_USB_OTG=y

## kernel image compression
CONFIG_BUILD_ARM64_UNCOMPRESSED_KERNEL=y
# CONFIG_BUILD_ARM64_KERNEL_COMPRESSION_GZIP is not set
# CONFIG_KERNEL_GZIP is not set
# CONFIG_HAVE_KERNEL_GZIP is not set
# CONFIG_HAVE_KERNEL_LZ4 is not set
# CONFIG_KERNEL_LZ4 is not set

# CIFS
#CONFIG_CIFS=y

